<!-- Google Material Icons font -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<aside class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item active">
      <a href="/notes">
        <span class="material-icons">lightbulb</span>
        <span class="text">Tasks</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/reminders">
        <span class="material-icons">notifications_none</span>
        <span class="text">Reminders</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/edit-labels">
        <span class="material-icons">edit</span>
        <span class="text">Edit labels</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/archive">
        <span class="material-icons">archive</span>
        <span class="text">Archive</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/bin">
        <span class="material-icons">delete</span>
        <span class="text">Bin</span>
      </a>
    </li>
  </ul>
</aside>
